.logout{
    background-color:#8d14755d;
    border: none;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    width: 120px;
    margin-top: 10px;;
  }

   /* "dev": "react-scripts start",
     "start": "serve -s build",
     "build": "react-scripts build",
     "test": "react-scripts test --env=jsdom",
     "eject": "react-scripts eject",
     "heroku-postbuild": "npm run build" */